{{/*
Made By: ShADowNIGHT#9025

Allows: ASGPDB ONLY!!

Trigger Type: Command mention/prefix
Trigger: test

Note this snippet uses all of the beloe
note: 
  #break is used in range or while etc it stops the range

  #exit stops the entire custom command

  #continue is used in range or while etc it skips to the next iteration.
  
  #while is a while loop function similar to other programming languages. 
    usage is while true or false, can take a variable for true or false just like any other function.
*/}}

{{$i := 10}}{{$count := 0}}{{$skips := 0}}
{{while (ge $i 1)}}{{/* while loop :) */}}
    {{$rand := randInt 0 3}}
    {{if eq $rand 1}}
        {{$i = sub $i 1}}
    {{else if eq $rand 2}}
        {{$skips = add $skips 1}}
        {{continue}}{{/* skips the rest of this iteration */}} 
    {{end}}
    {{if ge $count 25}}Over or at 25
        {{break}}{{/* ends the while loop possibly early */}}
    {{end}}
    {{$count = add $count 1}}
{{end}}
Starting No. {{$i}} ; Iterations {{$count}} ; Skips {{$skips}}
{{if ge $count 20}}
    {{exit}}{{/* closes the custom command early */}}
{{end}}Under or at 20
